{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Register! {% endblock %}</h1>
    <form method="post">
        <div>
            <label for="email" class="form-label">Email:</label>
            <input type="text" id="email" class="form-input" name="email" required>
        </div>
        <div>
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" class="form-input" name="password" required>
        </div>
        <button type="submit" class="form-button">Register</button>
    </form>
{% endblock %}